main{
    width: 1280px;
    height: 720px;
    margin: auto;

}

#screen{
    width: 100%;
    height: 100%;
    border: 1px #000000 solid;
    position: relative;
    cursor: url(pictures/pointer.png), auto;
    background-color: #009fff;
}

#firstPlan{
    background-image: url(pictures/background_game.png);
    background-attachment: inherit;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
}

.info{
    width: 100%;
    align-self: flex-end;
}

.container{
    width: 80%;
    background-color: red;
    margin: auto;
    display: flex;
    padding: 1rem;
    font-weight: bold;
    justify-content: space-between;
}

#roundAndShot{
    width: 15%;
    height: 100%;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#round{
    background-color: black;
    color: #a2ff00;
    width: max-content;
    margin-bottom: 1rem;
    padding: .1rem;
}

#shot{
    background-color: black;
    border: 2px #a2ff00 solid;
    color: cornflowerblue;
    width: max-content;
    font-family: duckhunt.ttf;
}

#hit{
    width: 50%;
    color: #a2ff00;
    background-color: black;
    border: 2px #a2ff00 solid;
}

#score{
    width: 25%;
    background-color: black;
    color: white;
    border: 2px #a2ff00 solid;
}

.flash{
    width: 1280px;
    height: 720px;
    background-color: white;
}

.duck{
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(pictures/duck.png);
    background-size: cover;
}